<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formularios</title>    
</head>

<body>


<div id="contenido" >
    <div id="wrapper"  style="margin: 50px 50px 50px 300px " >
        <h2>Iniciar Sesión</h2>
	<%= form_tag session_path do %> 
            <div id="username_div">
                <%= label_tag :"Nombre de Usuario" %> <br>
		<%= text_field_tag :name %>
            </div>

            <div id="password_div">
    		<%= label_tag :"Contraseña" %> <br>
    		<%= password_field_tag :password %>
  	    </div>


            <div class="actions">
    		<br> <%= submit_tag 'Iniciar Sesión' %>
  	    </div>
  
  	<% end %> 
    </div>
</div>
</body>

</html>

