<%= div_for comment do %> 
  <h3>
    <%= comment.name %> said:
    <% if @guide.owned_by? current_user %> 
      <span class="actions">
         <%= link_to "Eliminar Comentario", guide_comment_path(guide_id: @guide, id: comment), method: :delete, data: {confirm: "¿Seguro?"} %> 
      </span>
     <% end %> 
  </h3>
   <%= comment.body %> 
<% end %> 
