
<%= form_with(model: [@guide, @guide.comments.new], local: true) do |form| %>
  <div class="field">
    <%= form.label :Nombre %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :Comentario %>
    <%= form.text_area :body %>
  </div>

  <div class="actions">
    <%= form.submit 'Enviar' %>
  </div>
<% end %>

