<table id="espaciado" class="table table-striped">
            <tbody>
	    <% @comments.each do |comment| %>
                <tr>
           	    <td><%= comment.body %></td>
		    <td><%= comment.published_at %></td>
                </tr>
	    <% end %>
            </tbody>
        </table>
