<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formularios</title>
</head>

<body>
<div id="contenido">
    <div id="wrapper" style="margin: 50px 50px 50px 300px">
        <h2>¡Regístrate YA!</h2>

	<%= form_with(model: @user, local: true) do |form| %>

	   <div class="username_div">
	    <%= form.label :"Nombre: " %><br>
	    <%= form.text_field :name, id: :user_name %>
	  </div>

	  <div class="field">
	    <%= form.label :"Email: " %><br>
	    <%= form.text_field :email, id: :user_email %>
	  </div>

	  <div class="field">
	    <%= form.label :"Contraseña: " %><br>
	    <%= form.password_field :password, id: :user_password %>
	  </div>

	  <div class="field">
	    <%= form.label :"Repetir contraseña: " %><br>
	    <%= form.password_field :password_confirmation, id: :user_password_confirmation %>
	  </div>
	  

	  <div class="actions">
	    <br><%= form.submit :"Registrarte" %>
	  </div>
	<% end %>
    </div>
</div>
</body>
</html>
