<%= form_with(model: guide, local: true, html: {multipart:
        true}) do |form| %>
        <div class="field">
            <%= form.label :Título %><br>
            <%= form.text_field :title, id: :guide_title %>
        </div>
        <br>

        <div class="field">
            <%= form.label :Contenido %><br>
            <%= form.text_area :body, id: :guide_body %>
        </div>
        <br>

        <div class="field">
            <%= form.label :Trofeos %><br>
            <%= form.number_field :trophies, id: :guide_trophies %>
        </div>
        <br>

        <div class="field">
            <%= form.label :Categoría %><br>
            <%= form.text_field :category, id: :guide_category %>
        </div>
        <br>

        <div class="field">
            <%= form.label :"Foto Principal" %>
            <%= form.file_field :photo, id: :guide_photo %>
        </div>
        <br>

        <div class="field">
            <%= form.hidden_field :user_id, id: :guide_author_id %>
        </div>

        <div class="actions">
            <%= form.submit "Guardar"%>
        </div>
        <% end %>

