<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formularios</title>
</head>

<body>
<div id="contenido">
    <div id="wrapper" style="margin: 50px 50px 50px 300px">
      <% if @guide.user_id == current_user.id %>
       <h3>Editar Guía</h3>

      <%= render 'form', guide: @guide %>

     <% else %>
      <%= controller.redirect_to root_path %>
     <% end %>
    
   </div>
</div>
</body>
</html>
