<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formularios</title>
</head>

<body>
<div id="contenido">
    <div id="wrapper" style="margin: 50px 50px 50px 300px">

<h3>Nueva Guía</h3>

<%= render 'form', guide: @guide %>

   </div>
</div>
</body>
</html>
