<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>show of guides</title>
</head>
<body>
<div>
    <div id="contenido" class="container">
        <div id="principal">

            <h2 style="margin-left: 30%" class="ranking"><%= @guide.title %></h2>

            <p><%= @userName %> | <%= @guide.updated_at %></p>

            <div style="padding: 2% 3% 2% 0"><%= image_tag(@guide.photo) %></div>
            <p><%= @guide.body %></p>

            <h7>¡Déjanos tu comentario! </h7>
	    <%= render file:'comments/new' %>
            
            <h7>Comentarios (<%= @commentCount %>):</h7>

            <% if @commentCount > 0 %>
              <table id="espaciado" class="table table-striped">
                <tbody>
	          <% @comments.limit(@commentCount).each do |comment| %>
                    <tr>
           	      <td><%= render comment %> </td>
                    </tr>
	          <% end %>
                </tbody>
              </table>
            <% end %>
        </div>

        <div>
            <div id="lateralGuias" class="lateralBorder">
                <h5 class="titulillo"> Mas Recientes</h5>
                <%= image_tag "bloodborne.jpg" %>
                <a class="auto1" href=""> Nuevo jefe para BloodBorne </a>

                <%= image_tag "bluedragon.jpg" %>
                <a class="auto1" href=""> Blue dragon el poder del fuego.</a>

               <%= image_tag "starwars.jpg" %>
                <a class="auto1" href="">Los secretos tras Star Wars</a>

                <%= image_tag "sega.jpg" %>
                <a class="auto1" href="">Posible nuevo juego para Sega</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
