<!DOCTYPE html>
<html>
  <head>
    <title>GuiaJuegos</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div id="header">
      <div id="guiajuegos">
        <div class="fbox">
          <div class="guia"><%= link_to "Guia", root_path %></div>
          <div class="juegos"><%= link_to "Juegos", root_path %></div>
            <div style="float: right" class="menu">
          <ul>
           <% if logged_in? %>
         
          <li><a><%= link_to current_user.name, profile_path(current_user) %></a></li>
          <li><%= link_to "Cerrar Sesión", logout_path %></li>
        <% else %>
         
          <li st><%= link_to "Registrarse", registrate_path %></li>
          <li><%= link_to "Iniciar Sesión",login_path %></li>
        <% end %>
          </div>
          </ul>
        </div>
      </div>
      <div class="menu">
        <ul>
          <li><a href="">PS4</a></li>
          <li><a href="">XBOX</a></li>
          <li><a href="">PC</a></li>
          <li><a href="">FORO</a></li>
        </ul>
        <ul>
          <li><a href="">Noticias</a></li>
          <li><a href="">Análisis</a></li>
          <li><%= link_to "Ranking", '/ranking', :method => :get %></li>
           <li><%= link_to "Guías", '/guides', :method => :get %></li>
          <li><a href="">Eventos</a></li>
          <li><a href="">Logros</a></li>
          <li><a href="">Trucos</a></li>
          
        </ul>
      </div>
      <div id="user_bar">
        
      </div>
    </div>
    <div id="main">
    <% flash.each do |name, msg| %>
       <%= content_tag :div, msg, class: name %>
    <% end %>  
    <%= yield %>
    </div>
    <div id="footer">
      <p>Realizado por Adrián Rodríguez Socorro y Kilian Luque Romero<p>
    </div>
  </body>
</html>
